@charset "UTF-8";
/* Typography */
body {
  font-family: "hero-new", sans-serif;
  font-weight: 300;
  margin: 0;
}

p {
  font-family: "hero-new", sans-serif;
  font-size: 1.25em;
  line-height: 1.7em;
  margin: 0.5em 0 0 0;
}

h2, h3 {
  font-family: "kepler-std-semicondensed-cap", serif;
  margin: 0;
  color: #0C1C2A;
}

h1 {
  font-family: "kepler-std-display", serif;
  font-weight: 400;
  font-size: 7em;
  line-height: 0.9em;
  margin: 0.5em 0 0 0;
}

h2 {
  font-size: 4em;
  line-height: 1.2em;
  margin: 0;
  color: #173753;
}

h3 {
  font-size: 2.5em;
  line-height: 1.3em;
  color: #543220;
}

h4 {
  font-family: "hero-new", sans-serif;
  font-size: 1.5em;
  line-height: 1.5;
  font-weight: 400;
  color: #748798;
  margin: 0;
}

.text-centered {
  margin: 0 auto;
  text-align: center;
}

.subhead {
  font-family: "kepler-std-semicondensed-cap", serif;
  font-size: 2em;
  font-style: italic;
}

.sectionhead {
  font-family: "hero-new", sans-serif;
  font-weight: 300;
  font-size: 2em;
}

a {
  color: #1D7D77;
  font-weight: 400;
}

p.caption {
  font-family: "kepler-std-semicondensed-cap", serif;
  color: #748798;
  font-weight: 600;
}

ul li {
  font-family: "hero-new", sans-serif;
  font-size: 1.25em;
  line-height: 1.7em;
}

ul.bulleted li {
  list-style: none;
  font-weight: 400;
}

ul.bulleted li::before {
  content: "•";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #1D7D77;
  /* Change the color */
  font-weight: bold;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1em;
  /* Also needed for space (tweak if needed) */
  margin-left: -1em;
  /* Also needed for space (tweak if needed) */
}

.intro ul {
  list-style: none;
  padding: 0;
}
.intro ul li {
  color: #543220;
}

.intro .column.one-eigth h3 {
  margin-top: 1.6em;
  color: #543220;
  font-size: 1.5em;
}

#show-me {
  position: absolute;
  width: 80%;
  bottom: 68vh;
  left: 9.5%;
  z-index: 2;
}
#show-me p {
  font-family: "hero-new", sans-serif;
  font-size: clamp(1em, 3vw, 2em);
  font-weight: 300;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
}
#show-me p::after {
  content: "";
  margin-top: 3.7vh;
  height: 6.5vw;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  max-height: 2.3em;
  border-bottom: 2px solid white;
}
@media (max-width: 388px) {
  #show-me p::after {
    border: none;
  }
}

.swiper-textbox {
  position: relative;
  top: 34vh;
  margin: 0;
  left: 9.5%;
  width: 80%;
  z-index: 11;
}
.swiper-textbox h1 {
  font-size: clamp(1.5em, 7vw, 7em);
  white-space: nowrap;
  margin: 0;
  padding: 0;
}
.swiper-textbox .subhead {
  margin-top: 1em;
}

img {
  max-width: 100%;
  height: auto;
}

.site-identity h1 {
  font-size: 2em;
}

.video-bg {
  background-image: none;
}

.video-bg-top {
  z-index: 20;
}

video.video-bg {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

#kpc-ani {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-evenly;
}
#kpc-ani .one-third {
  text-align: center;
}
#kpc-ani img {
  height: auto;
}

.imac-mockup {
  background-image: url(../img/imac.png);
  background-repeat: no-repeat;
  width: 915px;
  height: 743px;
  margin: 0 auto;
}
.imac-mockup .imac-container {
  width: 843px;
  height: 480px;
  margin: 0 auto;
  padding-top: 35px;
  overflow: hidden;
  position: relative;
}
.imac-mockup .imac-container .imac-content {
  position: absolute;
  left: -25px;
}

html,
body {
  position: relative;
  height: 100%;
}

.container {
  margin: 0 auto;
  max-width: 80%;
  padding: 0;
}

body {
  background: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

section {
  height: 100vh;
}

/* footer */
footer {
  background-color: #173753;
  padding: 2em 0 2em 0;
}
footer h2 {
  color: white;
  margin-bottom: 0.25em;
}
footer h4 {
  color: #A2AFBA;
}
footer h3.sectionhead {
  color: #4D6B85;
}

/* nav */
header {
  position: absolute;
  z-index: 2;
  width: 100%;
  margin: 0 auto;
}

header a {
  color: black;
}

.site-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.site-nav .site-identity {
  margin-right: auto;
}

.site-nav ul {
  list-style: none;
  display: flex;
}

.site-nav li a {
  display: inline-block;
  text-align: center;
  padding: 0.5em 1em;
  font-family: "hero-new", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.5px;
  text-decoration: none;
  position: relative;
}
.site-nav li a:after {
  content: "";
  position: absolute;
  display: block;
  bottom: 9px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #6070e6;
  width: 0;
  transition: all 0.5s ease;
}
.site-nav li a:hover:after, .site-nav li a:focus:after {
  width: 100%;
}

.project-top {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  height: 100vh;
}
.project-top .sectionhead {
  margin-bottom: 0.5em;
}
.project-top h1 {
  margin: 0 0 0.25em 0;
}

.intro {
  padding: 5em 0;
  height: auto;
}

.work {
  background-color: #f1f9ff;
  padding: 2em 0;
  height: auto;
}
.work h2 {
  color: #011627;
}

.case-study {
  height: auto;
  padding-bottom: 5em;
  margin-bottom: 5em;
}
.case-study img {
  margin-bottom: 2em;
}

.to-white {
  background-image: linear-gradient(white, #f1f9ff);
}

.project-top.kpc {
  background-image: url("../img/kpc/4x1/kpc_4x1.jpg");
  box-shadow: inset 0 0 0 2000px rgba(253, 253, 242, 0.753);
}

#kpc-to-slider {
  background-image: linear-gradient(white, #ebf5f7);
  margin: 0;
}

#kpc-notes {
  background-image: url(../img/kpc/mushu.png);
  background-size: 370px;
  background-repeat: no-repeat;
  margin-bottom: 0;
  background-position: left bottom;
}

#kpc-bottom {
  height: auto;
  padding: 2em 0 1em 0;
  display: flex;
  justify-content: center;
  background-color: #ff6e6d;
}
#kpc-bottom h4 {
  margin: 0;
  color: white;
}

/* Work Grid */
.card-row {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .card-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .card.horizontal {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .card {
    width: 31%;
  }
  .card h3, .card p {
    color: #011627;
  }

  .card.horizontal {
    width: 100%;
    display: flex;
  }
  .card.horizontal .card-img, .card.horizontal .card-info {
    width: 100%;
  }
}
/* GRID SYSTEM */
.column {
  margin-top: 2%;
  margin-bottom: 2%;
}

@media (min-width: 768px) {
  .row {
    display: flex;
    margin-left: -1%;
    margin-right: -1%;
    margin-bottom: 3em;
  }

  .row-reverse {
    display: flex;
    flex-direction: row-reverse;
    margin-left: -1%;
    margin-right: -1%;
  }

  .column {
    flex-grow: 0;
    margin-left: 3%;
    margin-right: 3%;
  }

  .one-whole {
    width: 100%;
  }

  .one-eigth {
    width: 12%;
  }

  .one-fourth {
    width: 24%;
  }

  .one-half {
    width: 46%;
  }

  .one-third {
    width: 29.333%;
  }

  .two-thirds {
    width: 58.6666%;
  }

  .one-fourth {
    width: 21%;
  }

  .three-fourths {
    width: 74%;
  }

  .push-one-fourth {
    margin-left: 26%;
  }

  .push-one-third {
    margin-left: 33.3333%;
  }

  .push-two-third {
    margin-left: 66.6666%;
  }

  .row.centered {
    justify-content: center;
  }

  .row.no-margin {
    margin-top: 0;
    margin-bottom: 0;
  }
  .row.no-margin .column {
    margin-top: 0;
    margin-bottom: 0;
  }

  .column.centered {
    margin-left: auto;
    margin-right: auto;
  }
}
.img-row .row,
.img-row .row-reverse {
  display: flex;
  align-items: center;
}

/* Buttons */
a.button {
  cursor: pointer;
  color: black;
  border: 0 solid;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.75em 1em;
  text-decoration: none;
  margin: 1em 1em 1.5em 0;
  font-family: "hero-new", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 0.5px;
  box-shadow: inset 0 0 20px rgba(241, 249, 255, 0);
  outline: 1px solid;
  outline-color: black;
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

a.button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid;
  outline-color: rgba(0, 0, 0, 0);
  outline-offset: 15px;
  text-shadow: 0.5px 0.5px 1px #D1D7DD;
}

a.button-white {
  cursor: pointer;
  color: white;
  border: 0 solid;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.75em 1em;
  text-decoration: none;
  margin: 1em 1em 1.5em 0;
  font-family: "hero-new", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 0.5px;
  box-shadow: inset 0 0 20px rgba(241, 249, 255, 0);
  outline: 1px solid;
  outline-color: white;
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

a.button-white:hover {
  border: 1px solid;
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 0.5px 0.5px 1px #D1D7DD;
}

.button-gold {
  cursor: pointer;
  color: #A88F1E;
  border: 0 solid;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.75em 1em;
  text-decoration: none;
  margin: 1em 1em 1.5em 0;
  font-family: "hero-new", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 0.5px;
  box-shadow: inset 0 0 20px rgba(84, 71, 15, 0);
  outline: 1px solid;
  outline-color: #A88F1E;
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.button-gold:hover {
  border: 1px solid;
  outline-color: rgba(168, 143, 30, 0);
  outline-offset: 15px;
  text-shadow: 0.5px 0.5px 1px #748798;
}

/* Swiper Buttons */
.swiper-button-prev {
  color: white;
  top: 56%;
  left: auto;
  right: 17%;
}

.swiper-button-next {
  color: white;
  top: 56%;
  left: auto;
  right: 12%;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 1.5em;
}

.case-study .swiper-button-prev {
  color: #6070e6;
  top: auto;
  bottom: 5%;
  left: auto;
  right: 15%;
}
.case-study .swiper-button-next {
  color: #6070e6;
  top: auto;
  bottom: 5%;
  left: auto;
  right: 10%;
}

/* Swiper */
.swiper-container {
  width: 100%;
  height: 100%;
  margin: 0;
}

.swiper-slide {
  text-align: center;
  /* background: rgb(175, 175, 175); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-image {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  text-align: left;
}

/* Slides */
.shabp {
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
}

.dark .swiper-image h1,
.dark .swiper-image,
.dark {
  color: white;
}

.dark .swiper-image .button {
  color: white;
  border-color: white;
}

header[data-slidecolor=light] a {
  color: black;
}

header[data-slidecolor=dark] a {
  color: white;
}

[data-slidecolor=light] .swiper-button-prev,
[data-slidecolor=light] .swiper-button-next,
[data-slidecolor=light] #show-me,
[data-slidecolor=light] .site-header {
  color: black;
}

[data-slidecolor=dark] .swiper-button-prev,
[data-slidecolor=dark] .swiper-button-next,
[data-slidecolor=dark] #show-me,
[data-slidecolor=dark] .site-header {
  color: white;
}

[data-slidecolor=light] #show-me p::after {
  border-color: black;
}

[data-slidecolor=dark] #show-me p::after {
  border-color: white;
}

.card {
  transition: all 0.5s ease 1s;
  margin: 1%;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.card img {
  display: block;
  background-color: white;
}
.card .card-info {
  padding: 20px;
  background-color: white;
  flex-grow: 1;
}

.card:hover {
  cursor: pointer;
}
.card:hover h3, .card:hover p {
  color: white;
}
.card:hover img {
  background-color: white;
}
.card:hover .card-info {
  background-color: #543220;
}

.card:nth-child(1) {
  transition-delay: 0.2s;
}

.card:nth-child(2) {
  transition-delay: 0.4s;
}

.card:nth-child(3) {
  transition-delay: 0.6s;
}

[data-inview=no] {
  opacity: 0;
  transform: translate(0, 15%);
}

[data-inview=yes] {
  opacity: 1;
  transform: translate(0, 0) scale(1);
}

.swiper-image h1 {
  transition: all 0.7s ease-out 0.25s;
  opacity: 0;
  transform: translateY(180%);
  -webkit-clip-path: inset(0 0 400% 0);
          clip-path: inset(0 0 400% 0);
}

.swiper-slide-active .swiper-image h1 {
  opacity: 1;
  transform: translateY(0);
  -webkit-clip-path: inset(0 0 -12% 0);
          clip-path: inset(0 0 -12% 0);
}

.swiper-image .button {
  opacity: 0;
  transition: all 0.5s ease-out 0.5s;
}

.swiper-slide-active .swiper-image .button {
  opacity: 1;
}

.project-top {
  transition: all 0.5s ease;
}
.project-top .sectionhead {
  transition: all 0.5s ease 0.5s;
}
.project-top h1 {
  transition: all 0.7s ease 0.7s;
  transform: translateY(100%);
  -webkit-clip-path: inset(0 0 100% 0);
          clip-path: inset(0 0 100% 0);
}
.project-top .subhead {
  transition: all 0.5s ease 1.2s;
}

.project-top[data-inview=yes] h1 {
  transform: translateY(0);
  -webkit-clip-path: inset(0 0 -11% 0);
          clip-path: inset(0 0 -11% 0);
}

.column {
  transition: all 0.5s ease 2s;
}

.column:nth-child(1) {
  transition-delay: 0.2s;
}

.column:nth-child(2) {
  transition-delay: 0.4s;
}

.column:nth-child(3) {
  transition-delay: 0.6s;
}

.row-reverse .column:nth-child(1) {
  transition-delay: 0.4s;
}
.row-reverse .column:nth-child(2) {
  transition-delay: 0.2s;
}

#kpc-ani .one-third {
  transition: all 0.5s ease;
}
#kpc-ani :nth-child(1) {
  transition-delay: 0.2s;
}
#kpc-ani :nth-child(2) {
  transition-delay: 0.4s;
}
#kpc-ani :nth-child(3) {
  transition-delay: 0.6s;
}
#kpc-ani :nth-child(4) {
  transition-delay: 0.8s;
}
#kpc-ani :nth-child(5) {
  transition-delay: 1s;
}
#kpc-ani :nth-child(6) {
  transition-delay: 1.2s;
}