/* Typography */
body {
  font-family: "realist", sans-serif;
  font-weight: 200;
  margin: 0;
}

p {
  font-family: "realist", sans-serif;
  font-size: 1.25em;
  line-height: 1.7em;
  margin: 0.5em 0 0 0;
}

h1, h2, h3 {
  font-family: "korolev-rounded", sans-serif;
  margin: 0;
  color: #011627;
}

h1 {
  font-size: 6em;
  line-height: 1.1em;
  margin: 0.5em 0 0 0;
}

h2 {
  font-size: 4em;
  line-height: 1.2em;
  margin: 0;
  color: #0e283d;
}

h3 {
  font-size: 2.5em;
  line-height: 1.3em;
  color: #708291;
}

h4 {
  font-family: "realist", sans-serif;
  font-size: 1.7;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  color: #63cadf;
  margin: 0;
}

ul li {
  font-family: "realist", sans-serif;
  font-size: 1.25em;
  line-height: 1.7em;
}

.centered {
  margin: 0 auto;
  text-align: center;
}

.subhead {
  font-size: 1.5em;
  margin: 0;
}

.sectionhead {
  font-family: "korolev-rounded", sans-serif;
  font-weight: 300;
}

a {
  color: #6070e6;
}

#show-me {
  position: absolute;
  top: 26%;
  left: 2em;
  z-index: 2;
  font-size: 2em;
}
#show-me p {
  font-family: "korolev-rounded", sans-serif;
  margin-bottom: 27%;
  font-weight: 300;
  box-sizing: border-box;
}
#show-me p::after {
  content: "";
  height: 1px;
  width: 350%;
  position: absolute;
  top: 90%;
  right: 0;
  bottom: 0;
  left: 0;
  margin-bottom: -3px;
  background: linear-gradient(to right, currentColor, rgba(0, 0, 0, 0));
}
#show-me hr {
  border: 0;
  height: 1px;
  background: linear-gradient(to right, black, rgba(0, 0, 0, 0));
  width: 360%;
}

footer h2 {
  color: #63cadf;
}
footer h4 {
  color: #465c6e;
  margin: 1em 0;
}
footer h3.sectionhead {
  color: #f1f9ff;
}

img {
  max-width: 100%;
  height: auto;
}

.site-identity h1 {
  font-size: 2em;
}

#kpc-ani {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-around;
}
#kpc-ani .ani img {
  height: auto;
}

html,
body {
  position: relative;
  height: 100%;
}

.container {
  margin: 0 auto;
  max-width: 85%;
  padding: 0;
}

body {
  background: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

section {
  height: 100vh;
}

/* footer */
footer {
  background-color: #011627;
  padding: 2em 0 3em 0;
}

/* nav */
header {
  position: absolute;
  z-index: 2;
  left: 4em;
  width: 85%;
  margin: 0 auto;
}

header a {
  color: black;
}

header[data-slidecolor=light] a {
  color: black;
}

header[data-slidecolor=dark] a {
  color: white;
}

.site-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.site-nav .site-identity {
  margin-right: auto;
}

.site-nav ul {
  list-style: none;
  display: flex;
}

.site-nav li a {
  display: block;
  padding: 0.75em 1em;
  font-family: "korolev-rounded", sans-serif;
  font-weight: 500;
}

.site-nav a {
  text-decoration: none;
}

.project-top {
  display: flex;
  flex-direction: column;
  padding: 0 4em;
  text-align: left;
  justify-content: center;
  height: 100vh;
}

.intro {
  background-color: #ffffff;
  padding: 2em 0;
  height: auto;
}

.work {
  background-color: #f1f9ff;
  padding: 2em 0;
  height: auto;
}
.work h2 {
  color: #011627;
}

.case-study {
  height: auto;
  padding: 2em 0 5em 0;
}

.to-grey {
  background-image: linear-gradient(white, #f1f9ff);
}

#kpc-bottom {
  height: auto;
  padding: 1.5em 0 0.5em 0;
  background-color: #0488a6;
}
#kpc-bottom h4 {
  margin: 0;
  color: white;
}

/* Work Grid */
.card-row {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .card-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.card {
  transition: all 0.4s cubic-bezier(0, 0, 0, 1);
  background-color: white;
  margin: 1%;
}
.card img {
  display: block;
}

.card-info {
  padding: 20px;
}

@media (min-width: 768px) {
  .card {
    transition: 0.4s all ease;
    width: 31%;
  }
  .card h3, .card p {
    color: #011627;
  }

  .card.horizontal {
    width: 100%;
    display: flex;
  }
  .card.horizontal .card-img, .card.horizontal .card-info {
    width: 100%;
  }
}
.card:nth-child(1) {
  transition-delay: 0.2s;
}

.card:nth-child(2) {
  transition-delay: 0.4s;
}

.card:nth-child(3) {
  transition-delay: 0.6s;
}

.card:hover {
  transition: all 0.4s cubic-bezier(0, 0, 0, 1);
  transform: scale(1.01);
  background-color: #0e283d;
  cursor: pointer;
}
.card:hover h3, .card:hover p {
  color: white;
}

[data-inview=no] {
  opacity: 0;
  transform: translate(0, 15%);
}

[data-inview=yes] {
  opacity: 1;
  transform: translate(0, 0) scale(1);
}

/* GRID SYSTEM */
.column {
  margin-top: 2%;
  margin-bottom: 2%;
}

@media (min-width: 768px) {
  .row {
    display: flex;
    margin-left: -1%;
    margin-right: -1%;
  }

  .row-reverse {
    display: flex;
    flex-direction: row-reverse;
    margin-left: -1%;
    margin-right: -1%;
  }

  .column {
    flex-grow: 0;
    margin-left: 3%;
    margin-right: 3%;
  }

  .one-whole {
    width: 100%;
  }

  .one-fourth {
    width: 24%;
  }

  .one-half {
    width: 46%;
  }

  .one-third {
    width: 29.333%;
  }

  .two-thirds {
    width: 58.6666%;
  }

  .one-fourth {
    width: 21%;
  }

  .three-fourths {
    width: 74%;
  }

  .push-one-fourth {
    margin-left: 26%;
  }

  .push-one-third {
    margin-left: 33.3333%;
  }

  .push-two-third {
    margin-left: 66.6666%;
  }

  .row.centered {
    justify-content: center;
  }

  .column.centered {
    margin-left: auto;
    margin-right: auto;
  }
}
.case-study .row,
.case-study .row-reverse {
  display: flex;
  align-items: center;
}

/* Buttons */
a.button {
  border: 1px solid black;
  color: black;
  background-color: rgba(0, 0, 0, 0);
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.75em 1em;
  text-decoration: none;
  margin: 1em 0 1.5em 0;
  font-family: "korolev-rounded", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 0.5px;
}

a.button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

a.button-white {
  border: 1px solid white;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.75em 1em;
  text-decoration: none;
  margin: 1em 0 1.5em 0;
  font-family: "korolev-rounded", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 0.5px;
}

a.button-white:hover {
  background-color: rgba(0, 0, 0, 0.021);
}

/* Swiper Buttons */
.swiper-button-prev {
  color: white;
  top: 70%;
  left: auto;
  right: 32%;
}

.swiper-button-next {
  color: white;
  top: 70%;
  left: auto;
  right: 25%;
}

[data-slidecolor=light] .swiper-button-prev,
[data-slidecolor=light] .swiper-button-next, [data-slidecolor=light] #show-me,
[data-slidecolor=light] .site-header {
  color: black;
}

[data-slidecolor=dark] .swiper-button-prev,
[data-slidecolor=dark] .swiper-button-next, [data-slidecolor=dark] #show-me,
[data-slidecolor=dark] .site-header {
  color: white;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 1.5em;
}

.case-study .swiper-button-prev {
  color: #6070e6;
  top: auto;
  bottom: 3%;
  left: auto;
  right: 15%;
}
.case-study .swiper-button-next {
  color: #6070e6;
  top: auto;
  bottom: 3%;
  left: auto;
  right: 10%;
}

/* Swiper */
.swiper-container {
  width: 100%;
  height: 100%;
  margin: 0;
}

.swiper-slide {
  text-align: center;
  /* background: rgb(175, 175, 175); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-image {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  padding: 0 4em;
  text-align: left;
}

.swiper-image h1 {
  transition: all 0.5s ease-out 0.25s;
  opacity: 0;
  transform: translateY(100%);
  -webkit-clip-path: inset(0 0 100% 0);
          clip-path: inset(0 0 100% 0);
}

.swiper-slide-active .swiper-image h1 {
  opacity: 1;
  transform: translateY(0);
  -webkit-clip-path: inset(0 0 -2% 0);
          clip-path: inset(0 0 -2% 0);
}

.swiper-image .button {
  opacity: 0;
  transition: all 0.5s ease-out 0.5s;
}

.swiper-slide-active .swiper-image .button {
  opacity: 1;
}

/* Slides */
.kpc {
  background-image: url("../img/kpc/4x1/kpc_4x1.jpg");
  box-shadow: inset 0 0 0 2000px rgba(253, 253, 242, 0.753);
}

.haven-solus {
  background-image: url("../img/prearrival_2.jpg");
  /* color: white; */
  box-shadow: inset 0 0 0 2000px rgba(51, 61, 71, 0.3);
}

.prime {
  background-image: linear-gradient(0deg, rgba(243, 217, 162, 0.596), rgba(161, 220, 252, 0.863)), url("../img/prime_promo.jpg");
}

.two-ladies {
  background-image: url("../img/2ladiesbox.jpg");
  box-shadow: inset 0 0 0 2000px rgba(48, 36, 27, 0.3);
}

.podcast-bookcovers {
  background-image: url("../img/LianaYoung_ThisIsLove_1.jpg");
  /* color: white; */
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
}

.shabp {
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
}

.dark .swiper-image h1,
.dark .swiper-image,
.dark {
  color: white;
}

.dark .swiper-image .button {
  color: white;
  border-color: white;
}