// Variables
$type-heading: 'korolev-rounded', sans-serif;
$type-body: 'realist', sans-serif;

$blue: #63cadf;
$blue-lt: #bbe4ed;
$links: #6070e6;
$white-1:#f1f9ff;
$grey-1:#ccdae6;
$grey-2:#708291;
$grey-3: #465c6e;
$black-1: #0e283d;
$black-2: #011627;

$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);

// Import
@import 'partials/typography.scss';
@import 'partials/media.scss';
@import 'partials/structure.scss';
@import 'partials/cardgrid.scss';
@import 'partials/grid.scss';
@import 'partials/buttons.scss'; 
@import 'partials/swiper.scss';
@import 'partials/animations.scss';