// Card Grid

.card {
    transition: all .5s ease 1s;
    margin: 1%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    img {
      display: block;
      background-color: rgb(255, 255, 255);
    }
    .card-info { 
        padding: 20px;
        // transition: background-color .5s ease 1s;
        background-color: rgb(255, 255, 255);
        flex-grow: 1;
     }
  }

  .card:hover {
    cursor: pointer;
    h3, p {color: rgb(255, 255, 255);}
    img {background-color: rgb(255, 255, 255); }
    .card-info {
        background-color: $black-1;}
  }
  
  .card:nth-child(1) {
    transition-delay: 0.2s;
  }
  .card:nth-child(2) {
    transition-delay: 0.4s;
  }
  .card:nth-child(3) {
    transition-delay: 0.6s;
  }

  // Data In/Out View
//   [data-inview] {
//     transition: all .5s ease 1s;
//   }

[data-inview=no] {
  opacity: 0;
  transform: translate(0, 15%);
}

[data-inview=yes] {
  opacity: 1;
  transform: translate(0, 0) scale(1);
}

// Home hero
.swiper-image h1 {
    transition: all .5s ease-out .25s;
    opacity: 0;
    transform: translateY(100%);
    clip-path: inset(0 0 100% 0);
   }
   
   .swiper-slide-active .swiper-image h1 {
    opacity: 1;
    transform: translateY(0);
    clip-path: inset(0 0 -2% 0);
   }
    
   .swiper-image .button {
    opacity: 0;
    transition: all .5s ease-out .5s;
   }
   .swiper-slide-active .swiper-image .button {
    opacity: 1;
   }

// Nav


// KPC Subpage
.project-top {
    transition: all .5s ease;
    .sectionhead {
        transition: all .5s ease .5s;
    }
    h1 {
        transition: all .7s ease .7s;
        transform: translateY(100%);
        clip-path: inset(0 0 100% 0);
    }
    .subhead {
        transition: all .5s ease 1.2s;
    }
}

.project-top[data-inview=yes] {
    h1 {
        transform: translateY(0);
        clip-path: inset(0 0 -11% 0);
    }
}

.column {transition: all .5s ease 2s;}
.column:nth-child(1) {
    transition-delay: 0.2s;
    }
    .column:nth-child(2) {
    transition-delay: 0.4s;
    }
    .column:nth-child(3) {
    transition-delay: 0.6s;
    }

.row-reverse {
    .column:nth-child(1) {
        transition-delay: 0.4s;
        }
        .column:nth-child(2) {
        transition-delay: 0.2s;
        }
}

#kpc-ani{
    .one-third {transition: all .5s ease;}
    :nth-child(1) {
    transition-delay: 0.2s;
    }
    :nth-child(2) {
    transition-delay: 0.4s;
    }
    :nth-child(3) {
    transition-delay: 0.6s;
    }
    :nth-child(4) {
    transition-delay: 0.8s;
    }
    :nth-child(5) {
    transition-delay: 1s;
    }
    :nth-child(6) {
    transition-delay: 1.2s;
    }
}