/* Buttons */
a.button {
    border: 1px solid black;
    color: black;
    background-color: rgba(0, 0, 0, 0);
    display: inline-block;
    width: fit-content;
    padding: .75em 1em;
    text-decoration: none;
    margin: 1em 0 1.5em 0;
    font-family: $type-heading;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: .5px;
  }
  
  a.button:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  a.button-white {
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
    display: inline-block;
    width: fit-content;
    padding: .75em 1em;
    text-decoration: none;
    margin: 1em 0 1.5em 0;
    font-family: $type-heading;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: .5px;
  }
  
  a.button-white:hover {
    background-color: rgba(0, 0, 0, 0.021);
  }
  
  
  /* Swiper Buttons */
  .swiper-button-prev {
      color: rgba(255,255,255,1);
      top: 70%;
      left: auto;
      right: 32%;
  }
  
  .swiper-button-next {
    color: rgba(255,255,255,1);
    top: 70%;
    left: auto;
    right: 25%;
  }
  
  [data-slidecolor="light"] .swiper-button-prev,
  [data-slidecolor="light"] .swiper-button-next, [data-slidecolor="light"] #show-me,
  [data-slidecolor="light"] .site-header {
    color: rgba(0,0,0,1);
  }
  
  [data-slidecolor="dark"] .swiper-button-prev,
  [data-slidecolor="dark"] .swiper-button-next, [data-slidecolor="dark"] #show-me,
  [data-slidecolor="dark"] .site-header {
    color: rgb(255,255,255);
  }

  
  .swiper-button-next:after, .swiper-button-prev:after {
    font-size: 1.5em;
  }

  .case-study {
    .swiper-button-prev {
      color: $links;
      top: auto;
      bottom: 3%;
      left: auto;
      right: 15%;
  }
  
  .swiper-button-next {
    color: $links;
    top: auto;
    bottom: 3%;
    left: auto;
    right: 10%;
  }
  }