/* Work Grid */
  .card-row {
    margin: 0 auto;
  }

  @media (min-width: 768px) {
    .card-row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }  
      .card.horizontal {
        flex-direction: row;
      } 
  }

  @media (min-width: 768px) {
    .card {
      // transition: .4s all ease;
        width: 31%;
        h3, p {color: $black-2;}
      }
    .card.horizontal {
        width: 100%;
        display: flex;
        .card-img, .card-info {width: 100%;}
    }
  }