/* Work Grid */
  .card-row {
    margin: 0 auto;
  }

  .card {
    transition: all .5s ease 1s;
    margin: 1%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    img {
      display: block;
      background-color: rgb(255, 255, 255);
    }
    .card-info { 
        padding: 20px;
        background-color: rgb(255, 255, 255);
        flex-grow: 1;
     }
  }

  .card:hover {
    cursor: pointer;
    h3, p {color: rgb(255, 255, 255);}
    img {background-color: rgb(255, 255, 255); }
    .card-info {
        background-color: $turq;}
  }
  

  @media (min-width: 768px) {
    .card-row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }  
      .card.horizontal {
        flex-direction: row;
      } 
  }

  @media (min-width: 768px) {
    .card {
      // transition: .4s all ease;
        width: 31%;
        h3, p {color: $navy-2;}
      }
    .card.horizontal {
        width: 100%;
        display: flex;
        .card-img, .card-info {width: 100%;}
    }
  }