html,
body {
  position: relative;
  height: 100%;
}

.container {
  margin: 0 auto;
  max-width: 80%;
  padding: 0;
} 

body {
  background: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

section {
  height: 100vh;
}

/* footer */
footer {
  background-color: $navy;
  padding: 2em 0 2em 0;
  h2 {color: white; margin-bottom: .25em;}
    h4 {color: $grey-2;}
    h3.sectionhead {color: $navy-3;}
  }

/* nav */
header {
  position: absolute;
  z-index: 2;
  width: 100%;
  margin: 0 auto;
}

header a {
  color: black;
}

.site-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.site-nav .site-identity {
  margin-right: auto;
}

.site-nav ul {
  list-style: none;
  display: flex;
}

.site-nav li a {
  display: inline-block;
  text-align: center;
  padding: .7em 1em;
  font-family: $type-body;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: .5px;
  text-decoration: none;
  position: relative;
  &:after {
    content: '';
		position: absolute;
    display: block;
		bottom: 9px;
		left: 0; right: 0;
		height: 2px;
		background-color: $turq;
    width: 0;
    transition: all .5s ease;
  }
  &:hover,
  &:focus {
    &:after{
      width: 100%;
    }
  }
}

.site-header.dark {
  svg {color:white}
  h1, a, li {color: white;}
}

// Project Pages

.project-top {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  height: 100vh;
  .sectionhead {margin-bottom: .5em;}
  h1 {
    margin: 0 0 .25em 0;
    line-height: 1.1;
  }
  .container {width: 100%;}
}
.project-top.swiper-slide {
  text-align: left;
  justify-content: start;
  align-items: start;
}

.intro {
  padding: 5em 0;
  height: auto;
}

.case-study {
  height: auto;
  padding-bottom: 5em;
  margin-bottom: 5em;
  img {margin-bottom: 2em;}
}

.to-white { background-image: linear-gradient(white, $white-1);}

// KPC

.project-top.kpc {
  background-image: url('../img/kpc/ani/chameleon_small.gif');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 90% 73%;
  // box-shadow:inset 0 0 0 2000px rgba(253, 253, 242, 0.753);
}

#kpc-to-slider {
  background-image: linear-gradient(white, rgb(235,245,247));
  margin: 0;
}

#kpc-notes {
  background-image: url(../img/kpc/mushu.png);
  background-size: 370px;
  background-repeat: no-repeat;
  margin-bottom: 0;
  background-position: left bottom;
}

#kpc-ani {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-evenly;
  .one-third {text-align: center;}
  p.caption {margin-top: -1em;}
}

#kpc-bottom {
  height: auto;
  padding: 2em 0 1em 0;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color:#ff6e6d;
  h3 {
    margin: 0;
    color: white;
  }
}

// City Flag
.project-top.city-flag {
  background-image: url('../img/cityflag/honolulumap_2.jpg');
  // background-repeat: no-repeat;
  background-size: cover;
  background-position: 70% 0%;
  // h1, p {
  //   color: white;
  // }
}

// Copenhagen
.project-top.copen-logo {
  background-image: url(../img/copenhagen-logo/modern_lamp.jpg);
  background-size: 45%;
  background-repeat: no-repeat;
  background-position: 115% -100%;
  // box-shadow: inset 0 0 0 2000px rgba($color: #F5F6F6, $alpha: .4);
}
#copenhagen-inspo {
  margin-bottom: 0;
}
#copen-sketches {
  h2 {margin-top: 3em;}
  background-image: url(../img/copenhagen-logo/sketches_3.jpg);
  background-size: 100%;
  // height: 50%;
  max-height: 600px;
  background-repeat: no-repeat;
}
#copen-bottom {
  h2 {margin-top: 2em;}
  .row {margin-bottom: 2em;}
  margin-bottom: 0;
  height: auto;
  padding-bottom: 0;
}

// FOHR
.project-top.fohr {
  background-image: url('../img/fohr/fohr_top_v1.jpg');
  background-size: cover;
  background-position: 0% 100%;
}
#fohr-to-slider {
  background-image: linear-gradient(white, rgba(245,168,28, .05));
  margin: 0;
}
#fohr-notes {
  // background-image: url(../img/fohr/3008.png);
  background-size: 200px;
  background-repeat: no-repeat;
  margin-bottom: 0;
  background-position: 90% 30%;
}

// Natura
.project-top.natura {
  background-image: url(../img/natura/bluebutterfly.gif);
  background-size: 45%;
  background-repeat: no-repeat;
  background-position: 115% 70%
  // box-shadow: inset 0 0 0 2000px rgba($color: #F5F6F6, $alpha: .4);
}