/* Swiper */
.swiper-container {
    width: 100%;
    height: 100%;
    margin: 0;
  }

// .swiper-wrapper {
//   border: 20px solid orange;
// }
  
  .swiper-slide {
    text-align: center;
    /* background: rgb(175, 175, 175); */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-image {
    background-size:cover;
    background-position: center;
    width: 100%;
    height: 100%;
    // display: flex;
    // justify-content: center;
    // flex-direction: column;
    // padding: 0 4em;
    text-align: left;
    // border: 2px solid blue;
  }
  
  .swiper-image h1 {
    transition: all .5s ease-out .25s;
    opacity: 0;
    transform: translateY(100%);
    clip-path: inset(0 0 100% 0);
   }
   
   .swiper-slide-active .swiper-image h1 {
    opacity: 1;
    transform: translateY(0);
    clip-path: inset(0 0 -2% 0);
   }
    
   .swiper-image .button {
    opacity: 0;
    transition: all .5s ease-out .5s;
   }
   .swiper-slide-active .swiper-image .button {
    opacity: 1;
   } 
  
  /* Slides */
  .kpc {
    background-image: url('../img/kpc/4x1/kpc_4x1.jpg');
    box-shadow:inset 0 0 0 2000px rgba(253, 253, 242, 0.753);
  }
  
  .haven-solus {
    background-image: url('../img/prearrival_2.jpg');
    /* color: white; */
    box-shadow:inset 0 0 0 2000px rgba(51, 61, 71, 0.3);
  }
  
  .prime {
    background-image: linear-gradient(0deg, rgba(243, 217, 162, 0.596), rgba(161, 220, 252, 0.863)), url('../img/prime_promo.jpg');
  }
  
  .two-ladies {
    background-image: url('../img/2ladiesbox.jpg');
    box-shadow:inset 0 0 0 2000px rgba(48, 36, 27, 0.3);
  }
  
  .podcast-bookcovers {
    background-image: url('../img/LianaYoung_ThisIsLove_1.jpg');
    /* color: white; */
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
  }

  .shabp {
        box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
  }
  
  .dark .swiper-image h1,
  .dark .swiper-image,
  .dark  {
    color: white;
  }
  
  .dark .swiper-image .button {
    color: white;
    border-color: white;
  }

  // Slider Hero Light/Dark

  header[data-slidecolor="light"] a {color: rgba(0,0,0,1); }
  header[data-slidecolor="dark"] a {color: rgb(255,255,255);}

  [data-slidecolor="light"] .swiper-button-prev,
  [data-slidecolor="light"] .swiper-button-next, 
  [data-slidecolor="light"] #show-me,
  [data-slidecolor="light"] .site-header {
    color: rgba(0,0,0,1);
  }
  
  [data-slidecolor="dark"] .swiper-button-prev,
  [data-slidecolor="dark"] .swiper-button-next, 
  [data-slidecolor="dark"] #show-me,
  [data-slidecolor="dark"] .site-header {
    color: rgb(255,255,255);
  }
  
  [data-slidecolor="light"] #show-me p::after {border-color: rgba(0,0,0,1);}
  [data-slidecolor="dark"] #show-me p::after {border-color: rgb(255, 255, 255);}