/* Typography */  

body {
  font-family: $type-body;
  font-weight: 300;
  margin: 0;
}

p {
  font-family: $type-body;
  font-size: 1.25em;
  line-height: 1.7em;
  margin: .5em 0 0 0;
}

h2, h3 {
  font-family: $type-subhead;
  margin: 0;
  color: $navy-2;
}

h1 {
  font-family: $type-heading;
  font-weight: 400;
  font-size: 7em;
  line-height: .9em;
  margin: .5em 0 0 0;
}

h2 {
    font-size: 4em;
    line-height: 1.2em;
    margin: 0;
    color: $navy;
  }

  h3 {
    font-size: 2.5em;
    line-height: 1.3em;
    color: $rust;
  }

  h4 {
    font-family: $type-body;
    font-size: 1.5em;
    line-height: 1.5;
    // text-transform: uppercase;
    // letter-spacing: 1px;
    font-weight: 400;
    color: $grey-3;
    margin: 0;
  }

  .text-centered {
    margin: 0 auto;
    text-align: center;
  }

  .subhead {
    font-family: $type-subhead;
    font-size: 2em;
    font-style: italic;
  }

  .sectionhead {
    font-family: $type-body;
    font-weight: 300;
    font-size: 2em;
  }

  a { 
    color: $turq;
    font-weight: 400;
   }

   p.caption {
     font-family: $type-subhead;
     color: $grey-3;
     font-weight: 600;
    //  font-style: italic;
   }

// Unordered Lists
ul li {
  font-family: $type-body;
  font-size: 1.25em;
  line-height: 1.7em;
}
ul.bulleted li {
list-style: none;
font-weight: 400;
}
ul.bulleted li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: $turq; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.intro ul{
  list-style: none;
  padding: 0;
  li {
    color: $rust;
  }
}

.intro {
  .column.one-eigth h3 {
    margin-top: 1.6em;
    // text-transform: uppercase;
    // letter-spacing: 1px;
    color: $rust;
    font-size: 1.5em;
  }
}

// HERO TYPOGRAPHY
  #show-me {
    position: absolute;
    // bottom: 68%;
    width: 80%;
    bottom: 68%;
    left: 9.5%;
    z-index: 2;
    // margin-top: -6em;
    // border: 1px solid green;
    p {
      font-family: $type-body;
      font-size: clamp(1em, 3vw, 2em);
      font-weight: 300;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      line-height: 1;
    }
    p::after {
      content: '';
      margin-top: 3.7vh;
      height: 6.5vw;
      width: 100%;
      position: absolute;
      top: 100%;
      left: 0;
      max-height: 2.3em;
      // background-color: pink;
      border-bottom: 2px solid white;
      @media (max-width: 388px){
        border: none;
      } 
    }
  }

  .swiper-textbox {
    position: relative;
    top: 34%;
    // border: 1px solid red;
    margin: 0;
    left: 9.5%;
    width: 80%;
    // overflow: hidden;
    z-index: 11;
    h1 { 
      font-size: clamp(1.5em, 7vw, 7em); 
      white-space: nowrap;
      margin: 0;
      padding: 0;
    }
    .subhead {
      margin-top: 1em;
    }
  }