/* Typography */  

body {
  font-family: $type-body;
  font-weight: 200;
  margin: 0;
}

p {
  font-family: $type-body;
  font-size: 1.25em;
  line-height: 1.7em;
  margin: .5em 0 0 0;
}

h1, h2, h3 {
  font-family: $type-heading;
  margin: 0;
  color: $black-2;
}

h1 {
  font-size: 6em;
  line-height: 1.1em;
  margin: .5em 0 0 0;
}

h2 {
    font-size: 4em;
    line-height: 1.2em;
    margin: 0;
  }

  h3 {
    font-size: 2.5em;
    line-height: 1.3em;
  }

  h4 {
    font-family: $type-body;
    font-size: 1.7;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: .7px;
    font-weight: 900;
  }
  
ul li {
    font-family: $type-body;
    font-size: 1.25em;
    line-height: 1.7em;
  }

  .centered {
    margin: 0 auto;
    text-align: center;
  }

  .subhead {
    font-size: 1.5em;
  }

  .sectionhead {
    font-family: $type-heading;
    font-weight: 300;
  }

  #show-me {
    position: absolute;
    top: 26%;
    left: 2em;
    z-index: 2;
    // margin-top: -6em;
    font-size: 2em;
    p {
      font-family: $type-heading;
      margin-bottom: 27%;
      font-weight: 300;
      box-sizing: border-box;
    }
    p::after {
      content: '';
      height: 1px;
      width: 350%;
      position: absolute;
      top: 90%; right: 0; bottom: 0; left: 0;
      margin-bottom: -3px;
      background: linear-gradient(to right, currentColor, rgba(0,0,0,0));;
    }
    hr {
    border: 0;
    height: 1px;
    background: linear-gradient(to right,  rgb(0, 0, 0), rgba(0,0,0,0));
    width: 360%;
    }
  }

  // .swiper-image h1 {
  //   border-bottom: 2px solid currentColor;
  // }